/* Definir variables en el selector :root */
:root {
    --color-primario: #3498db;
    --color-primario-light: #97c1dd;
    --color-secundario: #7f8c8d;
    --color-terciario: #ff6200;
}

body {
    font-family: Arial, sans-serif, Helvetica, sans-serif, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.color-primario {
    color: var(--color-primario);
}
.color-secundario {
    color: var(--color-secundario);
}

.btn-primario {
    background-color: var(--color-primario);
    color: white;
    border-color: #3498db;
}
.btn-primario:hover {
    background-color: white;
    border-color: #2980b9;
    color: var(--color-primario);
}

.btn-secundario {
    background-color: var(--color-secundario);
    color: white;
    border-color: #7f8c8d;
}
.btn-secundario:hover {
    background-color: white;
    border-color: #7f8c8d;
    color: var(--color-secundario);
}

.btn-terciario {
    background-color: var(--color-terciario);
    color: white;
    border-color: #7f8c8d;
}
.btn-terciario:hover {
    background-color: white;
    border-color: var(--color-terciario);
    color: var(--color-terciario);
}
  
.link-primario {
    color: var(--color-primario);
    text-decoration: none;
}

.link-primario:hover {
    color: var(--color-secundario);
}

/* Agregar estos estilos en tu archivo CSS o en un bloque <style> en el head */

/* Estilos para los indicadores de validación */
.valid-feedback, .invalid-feedback {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
}

.valid-feedback {
    color: #28a745;
}

.invalid-feedback {
    color: #dc3545;
}

/* Mostrar el feedback cuando la clase is-valid o is-invalid está presente */
.is-valid ~ .valid-feedback,
.is-invalid ~ .invalid-feedback {
    display: block;
}

/* Estilos para los campos de formulario válidos e inválidos */
.form-control.is-valid {
    border-color: #28a745;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2328a745' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.form-control.is-invalid {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23dc3545' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23dc3545' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}